@model IEnumerable<Konsten.Models.ArtistName>

@{
    ViewData["Title"] = "Index";
}

<section class="about">
    <h1>KONSTNÄRER I GALLERIET</h1>
    <p>Vi har ett stort utbud bland konstnärer i galleriet. Här finner både internationella
        kändisar och lokala aktörer. De uttrycker sig i allt från akvarell och blyerts till oljemålningar
        i storformat.
    </p>
    <br>
    <br>
    <div class="text-center">
        <img src="/image/IMG_3637.jpg" alt="vägg med tavlor">
    </div>

    <br>
    @foreach (var item in Model)
    {

        <h3>
            @Html.DisplayFor(modelItem => item.TheArtist)
        </h3>

    }

</section>